<div class="uk-overflow-auto">
    <h1> {{fullMonth}} </h1>
    <table class="uk-table uk-table-middle uk-table-divider eventCard">
        <tbody>
            <tr>
                <td class="image">
                    <div class="uk-inline imageContainer">
                        <img class="imageEvent" src="{{imageAdress}}" alt="">
                        <div class="uk-overlay uk-overlay-default uk-position-top date">
                            <span class="day">{{day}}</span>
                            <br>
                            <span class="month uk-text-uppercase">{{month}}</span>
                        </div>
                    </div>
                </td>
                <td class="uk-table-link">
                    <span class="time">{{startTime}} - {{endTime}}</span>
                    <p class="title">
                        {{titleEvent}}
                    </p>
                    <p class="host">
                        {{host}}
                    </p>
                    <p class="eventType">
                        <span class="icons" *ngIf="eventCategory === 'online'" uk-icon="icon: video-camera"></span>
                        <span class="icons" *ngIf="eventCategory === 'presencial'" uk-icon="icon: location"></span>
                        Evento {{eventCategory}}
                    </p>
                </td>
                <td class="uk-text-nowrap uk-align-right confirm">
                    <button class="uk-button uk-button-default uk-text-capitalize">Confirmar Presença</button>
                    <img class="attendees" src="../../assets/guests.png" alt="">
                </td>
            </tr>
        </tbody>
    </table>
</div>