<div class="uk-overflow-auto">
    <h1> MÊS DO EVENTO </h1>
    <table class="uk-table uk-table-middle uk-table-divider eventCard">
        <tbody>
            <tr>
                <td class="image">
                    <div class="uk-inline">
                        <img class="uk-preserve-width" src="../../assets/event.png" alt="">
                        <div class="uk-overlay uk-overlay-default uk-position-top date">
                            <span class="day">10</span>
                            <br>
                            <span class="month uk-text-uppercase">Nov</span>
                        </div>
                    </div>
                </td>
                <td class="uk-table-link">
                    <span class="time">11AM - 1PM</span>
                    <p class="title">
                        Criando cursos com qualidade usando nossas ferramentas
                    </p>
                    <p class="host">
                        fdfgghdfhdfhgh
                    </p>
                    <p class="eventType">
                        <span uk-icon="icon: video-camera"></span>
                        eventType
                    </p>
                </td>
                <td class="uk-text-nowrap uk-align-right confirm">
                    <button class="uk-button uk-button-default uk-text-capitalize">Confirmar Presença</button>
                    <img class="guests" src="../../assets/guests.png" alt="">
                </td>
            </tr>
        </tbody>
    </table>
</div>