<nav class="uk-navbar-container">
    <div class="uk-container">
        <div uk-navbar>

            <div class="uk-navbar-left">

                <img src="../../assets/logo.png" alt="Logo da CreatorsLand">

            </div>

            <div class="uk-navbar-center uk-visible@s">

                <ul class="uk-navbar-nav">
                    <li class="active">
                        <a class="uk-text-capitalize" href="#">Home</a>
                    </li>
                    <li>
                        <a class="uk-text-capitalize" href="#">Eventos</a>
                    </li>
                    <li>
                        <a class="uk-text-capitalize" href="#">Comunidade</a>
                    </li>
                </ul>

            </div>
            
            <div id="sidenav" uk-offcanvas="flip: true" class="uk-offcanvas">
                <div class="uk-offcanvas-bar">
                        <a>
                            <span class="notifications" uk-icon="icon: bell"></span>
                        </a>
                        <a href="">
                            <span> Minha área </span>
                            <img class="fotoPerfil" src="../../assets/image.png" alt="Foto de perfil">
                        </a>
                        <ul class="uk-nav">
                            <li class="active">
                                <a class="uk-text-capitalize" href="#">Home</a>
                            </li>
                            <li>
                                <a class="uk-text-capitalize" href="#">Eventos</a>
                            </li>
                            <li>
                                <a class="uk-text-capitalize" href="#">Comunidade</a>
                            </li>
                        </ul>
                </div>
            </div>
            
            <a class="uk-navbar-toggle uk-navbar-right uk-hidden@s" uk-toggle="target: #sidenav"  uk-navbar-toggle-icon></a>


            <div class="uk-navbar-right uk-visible@s">
                <div class="uk-navbar-item">
                    <a>
                        <span  class="notifications" uk-icon="icon: bell"></span>
                    </a>
                    <button class="uk-button uk-button-secondary uk-text-capitalize">
                        <span> Minha área </span>
                        <img class="fotoPerfil" src="../../assets/image.png" alt="Foto de perfil">
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>